%p="Welcome to the web's cutest URL shortening service. If you have a really loooong URL, just paste it in the text field below, and we'll milk it, creating a moourl for you. It lasts forever, It can be easily copied to your clipboard, and It's really cute."
%form{:name=>"new_url", :action=>"/bonus", :method=>"post"}
  %input{:type=>"text", :name=>"url"}
  %input{:type=>"submit", :value=>"Insert Coin"}
  
