.guild-cal
  %h1="Guild Events"
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=hmfm88qi2pf834264ie43ink14%40group.calendar.google.com&color=%232F6309&ctz=America%2FLos_Angeles", :style => " border-width:0 ", :width => "960"}
  
