%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/images/favicon.ico", :type=>"image/x-icon"}
    %title Awfulnauts Guild
    %link{:href=>"/stylesheets/8bitstyle-mario.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
  %body
    .wrap
      .header
        .logo
          %img{:src=>"/images/logo.png"}
      .main-body
        = yield
      .footer
        .ads 
