%iframe{:align => "center", :frameBorder => "0", :height => "720", :scrolling => "no", :src => "http://www.flickr.com/slideShow/index.gne?group_id=&user_id=29967434@N05&set_id=&text=", :width => "960"}
