%object{:height => "720", :width => "960"}
  %param{:name => "flashvars", :value => "offsite=true&lang=en-us&page_show_url=%2Fphotos%2F29967434%40N05%2Fshow%2F&page_show_back_url=%2Fphotos%2F29967434%40N05%2F&user_id=29967434@N05&jump_to="}
  %param{:name => "movie", :value => "http://www.flickr.com/apps/slideshow/show.swf?v=109615"}
  %param{:name => "allowFullScreen", :value => "true"}
  %embed{:allowFullScreen => "true", :flashvars => "offsite=true&lang=en-us&page_show_url=%2Fphotos%2F29967434%40N05%2Fshow%2F&page_show_back_url=%2Fphotos%2F29967434%40N05%2F&user_id=29967434@N05&jump_to=", :height => "720", :src => "http://www.flickr.com/apps/slideshow/show.swf?v=109615", :type => "application/x-shockwave-flash", :width => "960"}