%iframe{:align => "center", :frameBorder => "0", :height => "500", :scrolling => "no", :src => "http://www.flickr.com/slideShow/index.gne?", :width => "500"}
%br/
%center
  %small
    Created with
    = succeed "." do
      %a{:href => "http://www.flickrslideshow.com"} flickr slideshow