body{
  position:relative;
  margin: 0;
	padding: 0;
	height: 0;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #E0E4CC;
	height:100%;
}

#wrap{
  margin: 0 auto;
  margin-bottom:35px;
  width:960px;
  min-height:500px;
  background: #E0E4CC;
}

.left{
  float:left;
}-
g

.right{
  float:right;
}

.clear{
  clear:both;
}

#header{
  width:100%;
  background: #A7DBD8;
  font-weight: bold;
}

#logo{
  margin: 0 auto;
  width:638px;
} 

.container{
  margin: 0 auto;
  width:638px;
  min-height:350px;
  background:#FFFFFF;
  //margin-top:250px;
}

#footer{
  margin: 0 auto;
  width:638px;
  background: #FFFFFF;
}

#header #top-nav{
  background-color:#F38630;
}

#header #top-nav ul{
  list-style:none;
}

#header #top-nav li{
  float:left;
  margin-right:25px;
}

#header #top-nav li a{
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  color:#000000;
}