#galleria
:javascript
  Galleria.loadTheme('/javascripts/galleria/themes/classic/galleria.classic.min.js');
  $('#galleria').galleria({
    width: 960,
    height: 600,
    autoplay: 5000,
    showCounter: false,
    showImagenav: false,
    showInfo: false,
    debug: false,
    lightbox: true,
    flickr: 'user:29967434@N05'
  });